*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:'Inter',sans-serif;

background:#010008;

color:white;

min-height:100vh;

padding:40px;

}


.dashboard-container{

max-width:1400px;

margin:auto;

}


h1{

text-align:center;

font-size:3rem;

margin-bottom:10px;

}


h2{

text-align:center;

color:#38BDF8;

margin-bottom:20px;

}


p{

text-align:center;

color:#CBD5E1;

margin-bottom:40px;

}


.summary-cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:25px;

margin-bottom:50px;

}


.card{

background:rgba(255,255,255,0.05);

padding:30px;

border-radius:20px;

text-align:center;

backdrop-filter:blur(15px);

box-shadow:
0 0 20px rgba(59,130,246,0.20);

}


.card h3{

color:#38BDF8;

margin-bottom:15px;

}


.card p{

font-size:2rem;

font-weight:bold;

}


.section{

margin-bottom:50px;

}


.grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}


button{

padding:20px;

border:none;

border-radius:15px;

cursor:pointer;

font-size:16px;

font-weight:700;

color:white;

background:linear-gradient(
90deg,
#2563EB,
#8B5CF6
);

transition:0.4s;

}


button:hover{

transform:translateY(-4px);

box-shadow:

0 0 20px #2563EB,

0 0 40px #8B5CF6;

}


.logout-section{

text-align:center;

margin-top:60px;

}


.logout-btn{

width:250px;

}


@media(max-width:768px){

h1{

font-size:2rem;

}

}