/* ==================================
            GLOBAL CSS
================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}


/* ==================================
                BODY
================================== */

body{

    font-family:'Inter',sans-serif;
    background-color:#010008;
    /* Dark Blue Premium Background */

    background:
    
    radial-gradient(
    circle at top left,
    rgba(30,144,255,0.15),
    transparent 30%
    ),

    radial-gradient(
    circle at bottom right,
    rgba(11,37,69,0.20),
    transparent 30%
    ),

    linear-gradient(
    to bottom,
    #020617,
    #061730,
    #081B33,
    #0B2545,
    #102C54,
    #0B2545,
    #081B33,
    #061730,
    #020617,
    #00000d
    );

    color:white;

    min-height:100vh;

    overflow-x:hidden;

}


/* ==================================
            HERO SECTION
================================== */

.hero-section{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:60px;

    gap:50px;

    min-height:90vh;

}


/* ==================================
            LEFT SECTION
================================== */

.left-section{

    flex:1;

}

.left-section h1{

    font-size:3rem;
    font-weight:800;

}

.left-section h2{

    font-size:5rem;
    font-weight:800;

    margin-top:30px;

    line-height:1.2;

    background:linear-gradient(
    90deg,
    #00D4FF,
    #8B5CF6
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

}

.left-section p{

    margin-top:30px;

    font-size:1.4rem;
    line-height:1.7;

    color:#E2E8F0;

}

.left-section h4{

    margin-top:30px;

    color:#38BDF8;

}


/* ==================================
                BUTTON
================================== */

button{

    margin-top:40px;

    padding:18px 35px;

    border:none;
    border-radius:50px;

    font-size:18px;
    font-weight:700;

    cursor:pointer;

    color:white;

    background:linear-gradient(
    90deg,
    #2563EB,
    #8B5CF6
    );

    transition:0.4s;

}


button:hover{

    transform:translateY(-5px);

    box-shadow:
    0 0 20px #2563EB,
    0 0 40px #8B5CF6;

}


/* ==================================
            RIGHT SECTION
================================== */

.right-section{

    flex:1;

    text-align:center;

}


.right-section img{

    max-width:100%;
    height:auto;

    filter:
    drop-shadow(0 0 15px rgba(30,144,255,0.25))
    drop-shadow(0 0 25px rgba(139,92,246,0.15));

}
/* ==================================
        TECHNOLOGY UNIVERSE
================================== */

.technology-universe{

    text-align:center;

    padding:80px 30px;

}


.technology-universe h2{

    margin-bottom:50px;

    color:#00D4FF;

    font-size:2.5rem;

}


.technology-grid{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:20px;

}


.technology-grid span{

    padding:15px 25px;

    border-radius:20px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,0.08);

    transition:0.4s;

}


.technology-grid span:hover{

    transform:translateY(-6px);

    box-shadow:
    0 0 15px #00D4FF,
    0 0 30px #8B5CF6;

}


/* ==================================
            MISSION
================================== */

.mission{

    padding:80px 30px;

    text-align:center;

}


.mission h2{

    color:#FFD700;

    margin-bottom:20px;

}


.mission p{

    font-size:28px;

    color:#00D4FF;

    font-style:italic;

}


/* ==================================
            FOOTER
================================== */

footer{

    padding:50px 20px;

    text-align:center;

    color:#CBD5E1;

    line-height:2;

}


/* ==================================
            SCROLLBAR
================================== */

::-webkit-scrollbar{

    width:10px;

}


::-webkit-scrollbar-track{

    background:#020617;

}


::-webkit-scrollbar-thumb{

    background:linear-gradient(
    180deg,
    #2563EB,
    #8B5CF6
    );

    border-radius:50px;

}


/* ==================================
            RESPONSIVE
================================== */

@media(max-width:992px){

.hero-section{

    flex-direction:column;

    text-align:center;

    padding:40px;

}

.left-section h1{

    font-size:2.5rem;

}

.left-section h2{

    font-size:3rem;

}

.left-section p{

    font-size:1.1rem;

}

.right-section img{

    max-width:450px;

}

}

.growth-btn{

    display:inline-block;

    text-decoration:none;

    margin-top:40px;

    padding:18px 35px;

    border:none;

    border-radius:50px;

    font-size:18px;

    font-weight:700;

    color:white;

    cursor:pointer;

    background:linear-gradient(
    90deg,
    #2563EB,
    #8B5CF6
    );

    transition:0.4s;

}


.growth-btn:hover{

    transform:translateY(-5px);

    box-shadow:
    0 0 20px #2563EB,
    0 0 40px #8B5CF6;

}


@media(max-width:576px){

button{

    width:100%;

}

}